# =========================
# FRONTEND (Next.js / Node)
# =========================
node_modules/
frontend/node_modules/
.next/
frontend/.next/
out/
.env
.env.local
npm-debug.log*

# =========================
# BACKEND (Python / FastAPI)
# =========================
__pycache__/
venv/
env/
*.db
*.sqlite3
backend/node_modules/
backend/.env